menu "Test menu support"

config HELLO1
	tristate 
	prompt "support HELLO1"

config HELLO2
	tristate
	prompt "support HELLO2"

endmenu


menuconfig TEST_MENUCONFIG
	tristate
	prompt "support menuconfig"

if TEST_MENUCONFIG
	config HELLOx
		tristate 
		prompt "support HELLOx"

	config HELLOy
		tristate
		prompt "support HELLOy"
endif


choice
	prompt "support choice"
	optional
	default CONFIG_TEST_C1

config CHOICE1
	tristate "support choice1"

config CHOICE2
	tristate "support choice2"

endchoice
