config HELLO
	tristate
	prompt "Hello support"
	help
		"Compile hello.c"

config HELLO1
	bool
	prompt "Hello1 support"
	help
		"Compile hello.c "

config HELLO2
	string 
	prompt "Hello2 string"
	help
		"Compile hello.c "

config HELLO3
	int 
	prompt "Hello3 int"
	help
		"Compile hello.c "

config HELLO4
	int "Hello4 int"
	help
		"Compile hello.c "


config HELLO5
	int 
	prompt "Hello5 int rang[0-5]"
	range 0 5
	help
		"Compile hello.c "
		

config HELLO6 
	hex 
	prompt "Hello6 hex"
	help
		"Compile hello.c " 

config HELLO7 
	hex 
	prompt "Hello7 hex"
	range 0 5
	help
		"Compile hello.c " 
